body{
margin:0;
overflow:hidden;
background:#111827;
font-family:'Press Start 2P', cursive;
color:white;
}

.container{
height:100vh;
display:flex;
flex-direction:column;
align-items:center;
justify-content:space-between;
}

.title{
margin-top:40px;
text-align:center;
}

.title h1{
font-size:24px;
color:#ff77c8;
}

.cake{
position:relative;
width:350px;
height:450px;
}

.layer{
position:absolute;
left:50%;
transform:translateX(-50%);
border:5px solid white;
}

.top{
width:140px;
height:70px;
background:#ffb6c1;
bottom:250px;
}

.middle{
width:220px;
height:90px;
background:#ff8fab;
bottom:140px;
}

.bottom{
width:300px;
height:100px;
background:#fb6f92;
bottom:20px;
}

.item{
position:absolute;
font-size:40px;
text-decoration:none;
}

.heart{
top:170px;
left:70px;
}

.bow{
top:280px;
right:40px;
}

.cherry{
top:240px;
left:220px;
}

.candle{
position:absolute;
top:70px;
left:160px;
font-size:45px;
}

.typing{
margin-bottom:40px;
font-size:12px;
}

.message-page{
background:#111827;
overflow:auto;
font-family:'DotGothic16', sans-serif;
}

.message-container{
padding:30px;
}

.message-box{
background:#1f2937;
padding:20px;
border:5px solid #ff77c8;
line-height:2;
}
