body{
margin:0;
height:100vh;
overflow:hidden;
background:#111827;
font-family:'Press Start 2P', cursive;
display:flex;
justify-content:center;
align-items:center;
color:white;
}

.container{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
width:100%;
height:100%;
}

.title{
text-align:center;
margin-bottom:30px;
}

.title h1{
font-size:28px;
color:#ff77c8;
animation:glow 1s infinite alternate;
margin-bottom:20px;
}

.title h2{
font-size:18px;
color:white;
}

@keyframes glow{
from{
text-shadow:0 0 10px #ff77c8;
}
to{
text-shadow:0 0 25px #7df9ff;
}
}

.cake-section{
position:relative;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
}

.candle{
font-size:60px;
margin-bottom:-20px;
cursor:pointer;
animation:flicker 0.3s infinite alternate;
z-index:10;
}

@keyframes flicker{
from{
transform:translateY(0px);
}
to{
transform:translateY(-4px);
}
}

.cake{
font-size:180px;
animation:float 2s infinite ease-in-out;
}

@keyframes float{
0%{
transform:translateY(0px);
}
50%{
transform:translateY(-10px);
}
100%{
transform:translateY(0px);
}
}

.items{
display:flex;
gap:40px;
margin-top:20px;
}

.item{
font-size:55px;
text-decoration:none;
transition:0.3s;
}

.item:hover{
transform:scale(1.2);
}

.typing{
margin-top:40px;
font-size:14px;
border-right:3px solid white;
white-space:nowrap;
overflow:hidden;
width:24ch;
animation:
typing 4s steps(24),
blink .5s step-end infinite alternate;
}

@keyframes typing{
from{
width:0;
}
}

@keyframes blink{
50%{
border-color:transparent;
}
}

.wish{
position:absolute;
top:45%;
font-size:32px;
color:#7df9ff;
display:none;
animation:glow 1s infinite alternate;
text-align:center;
}

.message-page{
background:#111827;
overflow:auto;
font-family:'DotGothic16', sans-serif;
color:white;
}

.message-container{
padding:40px 20px;
}

.message-title{
text-align:center;
font-size:24px;
margin-bottom:40px;
animation:glow 1s infinite alternate;
}

.message-box{
max-width:800px;
margin:auto;
background:#1f2937;
border:5px solid #ff77c8;
padding:25px;
line-height:2;
font-size:18px;
border-radius:20px;
}
